.form {
    margin: 30px auto 0;
    min-width: 616px;
}

.form__element {
    margin-bottom: 30px;
}

.form__header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__title {
    font-size: 16px;
    color: #111111;
    margin: 0 0 20px;
    font-weight: normal;
}

.form__title_header {
    margin: 0;
}

.form-group {
    margin-bottom: 10px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F1F1F1;
    border-radius: 4px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group__label {
    font-size: 13px;
    color: rgba(17, 17, 17, 0.48);
    margin-bottom: 2px;
}

.form-group__input {
    border: none;
    color: #111111;
    font-size: 14px;
    outline: none;
}

.form__btn {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #01A7FD;
    border-radius: 100px;
    background-color: #fff;
    cursor: pointer;
}

.form__btn-img {
    margin-right: 5px;
}

.form__btn-text {
    margin: 0;
    font-size: 14px;
    color: #01A7FD;
}

.form-group_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group_wrap .form-group {
    margin-right: 18px;
    width: 226px;
}

.form-group__btn {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    color: #01A7FD;
    cursor: pointer;
}

.btn_common {
    padding: 10px 20px;
    background: #01A7FD;
    color: #fff;
}

.btn_common:disabled {
    opacity: .5;
}
