.preview {
    margin: 30px auto 0;
    width: 616px;
}

.preview__parent {
    margin-bottom: 60px;
}

.preview__title {
    margin: 0 0 20px;
    color: #111111;
    font-size: 16px;
    font-weight: normal;
}

.preview__data {
    margin: 0;
    color: #111111;
    font-size: 16px;
    font-weight: bold;
    width: max-content;
}

.preview__data_child {
    margin: 0 0 20px;
    padding: 10px 20px;
    background: #F1F1F1;
    border-radius: 5px;
}

.preview__data_child:last-child {
    margin-bottom: 0;
}
